.breadcrumb{
    display: flex;
    align-items: center;

    a{
        text-decoration: none;
        color: $dark-grey;
        fill: $dark-grey;

        &:hover {
            color: lighten($dark-grey, 10%);
            
            svg {
                fill: lighten($dark-grey, 10%);
            }
        }
    }
    
    svg {
        fill: $dark-grey;

        &.home{
            transform: scale(.7);
            transform-origin: center;
            width: 24px;
            height: 24px;
        }
        
        &.chevron{
            color: $medium-grey;
            transform-origin: center;
            transform: scale(0.9);
            width: 24px;
            height: 24px;
       }
    }
}