.image-carousel{
   width:100%;
   .carousel-controls{
      svg{
         width:60px;
         height: 60px;
      }
   }
   .carousel-images{
      position: relative;
      height: 425px;
      overflow:hidden;
      user-select: none;
      box-shadow: 0 3px 6px rgba(0,0,0,.15);
      //background: $white;
      border-radius: 3px;
      .carousel-btns{
         position: absolute;
         width:100%;
         top: 0;
         z-index: 1;
         height: 100%;
         display: flex;
         align-items: center;
         a{
            padding: 1rem;
            position: absolute;
            svg{
               width: 24px;
               height: 24px;
            }
         }
         .previousBtn{
            left: 0;
         }
         .nextBtn{
            right: 0;
         } 
      }
      .carousel-image, img{
         position: absolute;
         top: 0;
         width:100%;
         height:100%;
         transition: transform .240s ease-out;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         &.active-image{ 
            transform: translateX(0px);
         }  
         &.previous-image{
            transform: translateX(-100%);
         }
         &.upcoming-image{
            transform: translateX(100%);
         }
      }
   }
}