.event-filters {
  user-select: none;
  overflow: hidden;
  
  .filter-container.expanded {
    .filter-content {
      padding: .5rem 1rem;
      max-height: 400px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      border-bottom: 1px $light-grey solid;
      transition: max-height 120ms ease, 
                  padding-top 180ms ease, 
                  padding-bottom 180ms ease, 
                  border-bottom 180ms ease;
    }

    svg {
      transform: rotate(0deg);
      transition: transform 120ms ease;
    }
  }



  .filter-title {
    display: flex;
    justify-content: space-between;
    &:hover {
      cursor: pointer; 
      color: $blue;
      fill: $blue;
    }
  }

  .filter-content {
    // Uneven margin/padding as a scrollbar-hiding hack
    margin: .5rem -3rem .5rem -1rem; 
    padding: 0rem 3rem 0rem 1rem;    
    max-height: 1px;
    border-top: 1px $light-grey solid;
    border-bottom: 0px $light-grey solid;
    background-color: $off-white-lighter;
    color: $medium-grey;
    overflow: hidden;
    transition: max-height 120ms ease, 
                padding-top 180ms ease, 
                padding-bottom 180ms ease, 
                border-bottom 180ms ease;
  }

  svg {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform 120ms ease;
  }
}