.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: rgba(0,0,0,.4);
  opacity: 0;
  transition: opacity 240ms ease;

  &.active {
    opacity: 1;
    transition: opacity 240ms ease;
    
    .modal {
      transform: translateY(0px);
      transition: transform 180ms ease;
    }
  }
  
  .modal {
    transition: transform 180ms ease;
    transform: translateY(-20px);
    width: 90%;
    max-width: 450px;
    position: relative;
    border-top: 3px $blue solid;

    .log-in-button-wrapper {
      border: 1px $light-grey solid;
      display: flex;
      justify-content: space-between; 
      border-radius: $border-radius;
      padding: .5rem .5rem .5rem .75rem;
      color: $medium-grey;

      &:hover {
        cursor: pointer;
        color: $blue;
        border-color: $blue;
      }
    }

    .btnCloseModal {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.6rem;
      height: 1.6rem;

      &:hover {
        cursor: pointer; 
        fill: $blue;
      }
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}