div.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 20px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  z-index: 4;
  a.logo {
    color: $black;
    font-family: $montserrat;
    font-size: 1.15rem;
    padding: 0 0.75rem 0 0;
  }
  a {
    display: flex;
    align-items: center;
    color: $black;
    font-size: 0.9rem;
    line-height: 50px;
    padding: 0 0.75rem;
    margin: 0 0rem;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
    &.active {
      font-weight: 700;
      color: $blue;
      line-height: 48px;
      border-bottom: 2px $blue solid;
    }
  }
  @media (max-width: $breakpoint-md) {
    nav {
      display: none;
      border-top: 1px $light-grey solid;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $off-white;
      padding: 10% 10%;
      overflow: auto;
      ul {
        display: block;
        list-style: none;
        a {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
      .menu-user {
        border-top: 1px $light-grey solid;
        margin-top: 2rem;
        margin-top: 3rem;
        & > a {
          border-bottom: 1px $light-grey solid;
        }
        a {
          font-size: 0.9rem;
          margin-bottom: 0rem;
        }
        .profile-picture {
          margin-right: 0.5rem;
          margin-bottom: -0.45rem;
        }
        svg {
          display: none;
        }
        &:hover {
          .dropdown {
            display: block;
          }
        }
        .dropdown {
          // display: none;
          background-color: $off-white;
          box-shadow: none;
          padding: 5px 0 10px 0;
          margin-left: 1px;
          a {
            display: flex;
            justify-content: center;
          }
          svg {
            display: inline-block;
            transform: scale(0.75);
            margin-right: 6px;
            width: 24px;
            height: 24px;
            fill: $dark-grey;
          }
        }
      }
    }
    .burger-menu-toggle {
      width: 50px;
      height: 50px;
      display: block;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        svg {
          fill: $blue;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        display: block;
      }
    }
    a.active {
      font-weight: 700;
      color: $blue;
      line-height: 48px;
      border-bottom: 0px $blue solid !important;
    }

    &.burger-menu-active {
      nav {
        display: block;
      }
      .burger-menu-toggle.open {
        display: none;
      }
      .burger-menu-toggle.close {
        display: flex;
      }
    }
    .burger-menu-toggle.open {
      display: flex;
    }
    .burger-menu-toggle.close {
      display: none;
    }
  }
  @media (min-width: $breakpoint-md + 1px) {
    nav {
      ul {
        display: flex;
        list-style: none;
      }
      .menu-user {
        margin-left: 1rem;
        padding-left: 0.25rem;
        & > a {
          border-left: 1px $light-grey solid;
          padding-left: 1.5rem;
          cursor: pointer;
        }
        .profile-picture {
          margin-right: 0.5rem;
        }
        svg {
          margin-left: 0.25rem;
          width: 24px;
          height: 24px;
          fill: $black;
        }
        &:hover {
          .dropdown {
            display: block;
          }
        }
        .dropdown {
          display: none;
          border-radius: 0 0 3px 3px;
          padding: 5px 0 10px 0;
          margin-left: 1px;
          border-top: 1px $light-grey solid;
          background-color: $off-white-lighter;
          svg {
            transform: scale(0.75);
            margin-right: 6px;
          }
        }
      }
    }
    .burger-menu-toggle {
      display: none;
    }
  }
}
