.share{
   a{
      svg{
         width:18px;
         height:18px;
         transform: translateY(3px);
      }
   }
   .share-icons{
      a{
         svg{
            fill:$dark-grey;
            width:28px;
            height:28px; 
         }
      }
   }
} 