.speaker, .schedule-block{
   display: flex;
   margin:2rem 0;
   .speaker-info, .schedule-info{
      flex-grow: 1;
      h4{
         line-height: .95rem;
      }
      button{
         font-weight: bold;
      }
   }
   .speaker-info{
      margin-left: .75rem;
   }
} 