@import '_utils/_vars.scss';
@import '_utils/_utilities.scss';
@import '_components/_carousel.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: $black;
  padding-top: 50px;
}

// Layout
.container {
  width: 96%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; // Cancels out margin from cols

  &.small {
    max-width: 860px; 
  }
}
.grid-container {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  .col { 
    margin: 0 10px 20px 10px;
    flex-grow: 0;
    flex-shrink: 0;
    
    &.grow {
      flex-grow: 1;
    }
  }

  .col-33 {
    flex-basis: calc(33.33% - 20px);
  }
  .col-66 {
    flex-basis: calc(66.67% - 20px);
  }
  .col-100 {
    flex-basis: calc(100% - 20px);
  }
}

// Fonts 
h1 {
  font-size: 2.4rem;
  font-family: $montserrat;
  font-weight: 500;
  margin-bottom: .25em;
}
h2 {
  @extend h1;
  font-size: 1.6rem;
}
h3 {
  @extend h1;
  font-size: 1.33rem;

  small {
    font-weight: 300;
  }
}
h4 {
  font-family: $openSans;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: .25em;  
}
p {
  @extend h4;
  font-size: 1rem;
}
p.meta {
  @extend h4;
  font-size: .85rem;
  color: $medium-grey;
}
p.badge {
  @extend h4;
  font-size: .85rem;
  color: $medium-grey;
  border: 1px $light-grey solid;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  display: inline-block;
}
a {
  font-family: $openSans;
  font-weight: 400;
  color: $blue;
  
  &.big {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: $montserrat;


    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &:hover {
    color: lighten($blue, 15%);
    svg {
      fill: lighten($blue, 15%);
    }
  }

  div {
    display: inline-block;
    padding: 0 0.5rem;
  }
  svg {
    display: inline-block;
    fill: $blue;
  
    
  }
  
}

// Buttons
button {
  cursor: pointer;
  padding: 0.5rem 1rem 0.6rem 1rem;
  font-size: 0.85rem;
  background: none;
  border: 1px solid $light-grey;
  border-radius: $border-radius;

  &:hover{
    opacity: 0.8;
  }

  &.large {
    padding: 0.65rem 1.5rem 0.75rem 1.5rem;
    font-size: 1.15rem;
  }

  &.grey.outline {
    color: $medium-grey;
    border-color: $medium-grey;
  }
  &.grey.fill{
    color: $white;
    background-color: $medium-grey;
    border-color: $medium-grey;
  }

  &.blue.outline {
    color: $blue;
    border-color: $blue
  }
  &.blue.fill{
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }

  &.orange.outline {
    color: $orange;
    border-color: $orange;
  }
  &.orange.fill{
    color: $white;
    background-color: $orange;
    border-color: $orange;
  }
}


// Box
.box {
  border-radius: 3px;
  padding: 1rem;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,.15);
  
  .action-bar {
    margin: 1rem -1rem 0 -1rem;
    padding: 1rem 1rem 0 1rem;
    border-top: 1px $light-grey solid;
    display: flex;
    justify-content: flex-end;

  }
}

// Images
.profile-picture {
  border-radius: 50%;
  background-position: center;
  background-size: cover;

  &.xs {
    width: 26px;
    height: 26px;
  }
  &.sm {
    width: 36px;
    height: 36px;
  }
  &.md {
    width: 48px;
    height: 48px;
  }
  &.lg {
    width: 76px;
    height: 76px;
  }
  &.xl {
    width: 185px;
    height: 185px;
  }
}

// nav bar
div.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 20px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,.15);

  a.logo {
    color: $black;
    font-family: $montserrat;
    font-size: 1.15rem;

  }

  nav {
    ul {
      display: flex;
      list-style: none;
    }

    a {
      display: flex;
      align-items: center;
      color: $black;
      font-size: 1rem;
      line-height: 50px;
      padding: 0 .75rem;
      margin: 0 0rem;
      text-decoration: none;

      &:hover {
        color: $blue;
      }
      
      &.active {
        font-weight: 700;
        color: $blue;
        line-height: 48px;
        border-bottom: 2px $blue solid;
      }
    }

    .menu-user {
      margin-left: 1rem;
      padding-left: .75rem;
      
      &>a {
        border-left: 1px $light-grey solid;
      }

      .profile-picture {
        margin-right: .5rem;
      }

      svg {
        margin-left: .25rem;
        width: 24px;
        height: 24px;
        fill: $black;
      }

      &:hover {
        .dropdown {
          display: block;
        }
      }

      .dropdown {
        display: none;
        border-radius: 0 0 3px 3px;
        padding: 5px 0 10px 0;
        margin-left: 1px;
        border-top: 1px $light-grey solid;
        background-color: $off-white-lighter;

        svg {
          transform: scale(0.75);
          margin-right: 6px;
        }
      }
    }
  }

}

