<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Gulp Optimization</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Open+Sans" rel="stylesheet">
	<!-- build:css css/bundle.css -->
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<!-- endbuild -->
</head>

<body>
   <div class="grid-container">
      <div class="box col col-33">
         <h3>Speakers</h3>
         <div class="speaker">
            <div class="profile-picture  u_mb-md sm" style="background-image: url('images/henningjensen.jpg')"></div>
            <div class="speaker-info">
               <h4 class="u_mb-xs">Martin Hedegaard</h4>
               <p class="meta u_mb-xs">Front-end developer, Momondo</p>
               <button class="small blue outline">Follow</button>
            </div>
         </div>
         <div class="speaker">
            <div class="profile-picture  u_mb-md sm" style="background-image: url('images/henningjensen.jpg')"></div>
            <div class="speaker-info">
               <h4 class="u_mb-xs">Anders Lundslev</h4>
               <p class="meta u_mb-xs">Head of Engineering, Momondo</p>
               <button class="small blue fill">Following</button>
            </div>
         </div>
         <div class="speaker">
            <div class="profile-picture  u_mb-md sm" style="background-image: url('images/henningjensen.jpg')"></div>
            <div class="speaker-info">
               <h4 class="u_mb-xs">Viktoria Andersen</h4>
               <p class="meta u_mb-xs">Designer, Momondo</p>
               <button class="small blue outline">Follow</button>
            </div>
         </div>         
      </div>
   </div>



	<!-- build:js js/bundle.js -->
	<!-- endbuild -->


	<svg class="u_hidden" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<g id="md-local-play">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 12c0-1.1.9-2 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-1.99.9-1.99 2v4c1.1 0 1.99.9 1.99 2s-.89 2-2 2v4c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.1 0-2-.9-2-2zm-4.42 4.8L12 14.5l-3.58 2.3 1.08-4.12-3.29-2.69 4.24-.25L12 5.8l1.54 3.95 4.24.25-3.29 2.69 1.09 4.11z"/>
         </g>
         <g id="md-local-bar">
            <path d="M21 5V3H3v2l8 9v5H6v2h12v-2h-5v-5l8-9zM7.43 7L5.66 5h12.69l-1.78 2H7.43z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
         </g>
         <g id="md-restaurant">
            <path d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2v7zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
         </g>
			

		</defs>
	</svg>

</body>

</html>