@charset "UTF-8";
.u_px-xs {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.u_px-sm {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.u_px-md {
  padding-left: 24px !important;
  padding-right: 24px !important; }

.u_px-lg  {
  padding-left: 32px !important;
  padding-right: 32px !important; }

.u_px-xl {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.u_py-xs {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.u_py-sm {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.u_py-md {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.u_py-lg  {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.u_py-xl {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.u_pb-xs {
  padding-bottom: 8px !important; }

.u_pb-sm {
  padding-bottom: 16px !important; }

.u_pb-md {
  padding-bottom: 24px !important; }

.u_pb-lg  {
  padding-bottom: 32px !important; }

.u_pb-xl {
  padding-bottom: 40px !important; }

.u_pt-xs {
  padding-top: 8px !important; }

.u_pt-sm {
  padding-top: 16px !important; }

.u_pt-md {
  padding-top: 24px !important; }

.u_pt-lg  {
  padding-top: 32px !important; }

.u_pt-xl {
  padding-top: 40px !important; }

.u_pl-xs {
  padding-left: 8px !important; }

.u_pl-sm {
  padding-left: 16px !important; }

.u_pl-md {
  padding-left: 24px !important; }

.u_pl-lg  {
  padding-left: 32px !important; }

.u_pl-xl {
  padding-left: 40px !important; }

.u_pr-xs {
  padding-right: 8px !important; }

.u_pr-sm {
  padding-right: 16px !important; }

.u_pr-md {
  padding-right: 24px !important; }

.u_pr-lg  {
  padding-right: 32px !important; }

.u_pr-xl {
  padding-right: 40px !important; }

.u_mx-xs {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.u_mx-sm {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.u_mx-md {
  margin-left: 24px !important;
  margin-right: 24px !important; }

.u_mx-lg  {
  margin-left: 32px !important;
  margin-right: 32px !important; }

.u_mx-xl {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.u_my-xs {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.u_my-sm {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.u_my-md {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.u_my-lg  {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.u_my-xl {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.u_mb-xs {
  margin-bottom: 8px !important; }

.u_mb-sm {
  margin-bottom: 16px !important; }

.u_mb-md {
  margin-bottom: 24px !important; }

.u_mb-lg  {
  margin-bottom: 32px !important; }

.u_mb-xl {
  margin-bottom: 40px !important; }

.u_mb-xxl {
  margin-bottom: 80px !important; }

.u_mt-xs {
  margin-top: 8px !important; }

.u_mt-sm {
  margin-top: 16px !important; }

.u_mt-md {
  margin-top: 24px !important; }

.u_mt-lg  {
  margin-top: 32px !important; }

.u_mt-xl {
  margin-top: 40px !important; }

.u_ml-xs {
  margin-left: 8px !important; }

.u_ml-sm {
  margin-left: 16px !important; }

.u_ml-md {
  margin-left: 24px !important; }

.u_ml-lg  {
  margin-left: 32px !important; }

.u_ml-xl {
  margin-left: 40px !important; }

.u_mr-xs {
  margin-right: 8px !important; }

.u_mr-sm {
  margin-right: 16px !important; }

.u_mr-md {
  margin-right: 24px !important; }

.u_mr-lg  {
  margin-right: 32px !important; }

.u_mr-xl {
  margin-right: 40px !important; }

.u_block {
  display: block; }

.u_inline-block {
  display: inline-block; }

.u_hidden {
  display: none; }

.u_bold {
  font-weight: 700; }

<<<<<<< HEAD
.u_text-center {
  text-align: center; }

.u_block-center {
  display: block;
  margin: 0 auto; }

.trophy .trophy-icon {
  width: 100%;
  max-width: 125px; }

.trophy:not(.obtained) .check-div {
  display: none; }

.trophy:not(.obtained) svg {
  fill: #65707A; }

.trophy.obtained .check-div {
  position: relative; }
  .trophy.obtained .check-div .check-icon {
    max-width: 50px;
    position: absolute;
    right: 0; }

.trophy.obtained svg {
  fill: #0B6AD6; }
.breadcrumb {
  display: flex;
  align-items: center; }
  .breadcrumb a {
    text-decoration: none;
    color: #434A51;
    fill: #434A51; }
    .breadcrumb a:hover {
      color: #5a646d; }
      .breadcrumb a:hover svg {
        fill: #5a646d; }
  .breadcrumb svg {
    fill: #434A51; }
    .breadcrumb svg.home {
      transform: scale(0.7);
      transform-origin: center;
      width: 24px;
      height: 24px; }
    .breadcrumb svg.chevron {
      color: #65707A;
      transform-origin: center;
      transform: scale(0.9);
      width: 24px;
      height: 24px; }
#homeBg {
  background-image: url("../images/devent-home-bg.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  overflow: scoll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  position: relative; }
  #homeBg .blue-tint {
    background: linear-gradient(135deg, rgba(12, 161, 211, 0.6) 0%, #0B6AD6 100%);
    opacity: .45;
    position: absolute;
    height: 100%;
    width: 100%; }
  #homeBg .home-content {
    color: #FFFFFF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20rem;
    z-index: 1; }
    #homeBg .home-content button {
      padding: 1rem 3.5rem 1.25rem 3.5rem; }
  #homeBg .home-header {
    font-size: 4rem; }
.u_clearfix {
  clear: both; }

.image-carousel {
  width: 100%; }
  .image-carousel .carousel-controls svg {
    width: 60px;
    height: 60px; }
  .image-carousel .carousel-images {
    position: relative;
    height: 32vh;
    overflow-x: hidden; }
    .image-carousel .carousel-images .carousel-btns {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 1;
      height: 32vh;
      display: flex;
      align-items: center; }
      .image-carousel .carousel-images .carousel-btns a {
        padding: 1rem;
        position: absolute; }
        .image-carousel .carousel-images .carousel-btns a svg {
          width: 24px;
          height: 24px; }
      .image-carousel .carousel-images .carousel-btns .previousBtn {
        left: 0; }
      .image-carousel .carousel-images .carousel-btns .nextBtn {
        right: 0; }
    .image-carousel .carousel-images img {
      position: absolute;
      top: 0;
      width: 100%;
      transition: transform .240s ease-out; }
      .image-carousel .carousel-images img.active-image {
        transform: translateX(0px); }
      .image-carousel .carousel-images img.previous-image {
        transform: translateX(-100%); }
      .image-carousel .carousel-images img.upcoming-image {
        transform: translateX(100%); }
@media screen and (max-width: 480px) {
  .my-profile .col-50.mobileFullWidth {
    flex-basis: calc(100% - 20px); } }

.my-profile svg {
  height: 24px;
  width: 24px;
  transform: scale(0.8); }

.my-profile .boxProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.my-profile .boxEvent {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .my-profile .boxEvent {
      flex-direction: column;
      align-items: flex-start; }
      .my-profile .boxEvent .linkSeeMore {
        margin-top: 8px; }
      .my-profile .boxEvent > :last-child {
        align-self: flex-end; } }
  .my-profile .boxEvent .linkSeeMore {
    min-width: 125px; }
  .my-profile .boxEvent .iconText {
    display: flex; }

.my-profile .boxBottomLink {
  display: flex;
  justify-content: center; }
=======
.event-filters {
  user-select: none;
  overflow: hidden;
  min-width: 300px; }
  .event-filters .filter-container.expanded .filter-content {
    padding: .5rem 1rem;
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px #CED6DE solid;
    transition: max-height 120ms ease,  padding-top 180ms ease,  padding-bottom 180ms ease,  border-bottom 180ms ease; }
  .event-filters .filter-container.expanded .filter-title svg {
    transform: rotate(0deg);
    transition: transform 120ms ease; }
  .event-filters .filter-title {
    display: flex;
    justify-content: space-between; }
    .event-filters .filter-title:hover {
      cursor: pointer;
      color: #0B6AD6;
      fill: #0B6AD6; }
    .event-filters .filter-title svg {
      transform: rotate(90deg); }
  .event-filters .filter-content {
    margin: .5rem -1rem;
    padding: 0rem 1rem;
    max-height: 1px;
    border-top: 1px #CED6DE solid;
    border-bottom: 0px #CED6DE solid;
    background-color: #F7FAFC;
    overflow: hidden;
    transition: max-height 120ms ease,  padding-top 180ms ease,  padding-bottom 180ms ease,  border-bottom 180ms ease; }
    .event-filters .filter-content .distance-container, .event-filters .filter-content .when-row, .event-filters .filter-content .skill-level-row, .event-filters .filter-content .checkbox-wrapper {
      display: flex;
      align-items: center; }
    .event-filters .filter-content .distance-container input {
      flex: 0 1 80px;
      margin: .45rem; }
    .event-filters .filter-content .when-row label {
      flex: 0 0 50px; }
    .event-filters .filter-content .skill-level-row label {
      flex: 0 0 80px; }
    .event-filters .filter-content .checkbox-wrapper input {
      flex: 0 0 25px; }
    .event-filters .filter-content .checkbox-wrapper label {
      margin-top: .1rem;
      flex: 1 1 100%;
      padding: .0rem 0; }
    .event-filters .filter-content .checkbox-wrapper input:checked + label {
      color: #0B6AD6; }
    .event-filters .filter-content .search-wrapper {
      position: relative; }
      .event-filters .filter-content .search-wrapper input {
        padding: 0.3rem; }
      .event-filters .filter-content .search-wrapper svg {
        position: absolute;
        padding-right: .3rem;
        padding-left: .2rem;
        right: .1rem;
        top: .5rem;
        transform: scale(0.7);
        background-color: #FFFFFF; }
    .event-filters .filter-content .btnSeeMore {
      font-size: .85rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0;
      border: 0px;
      color: #0B6AD6;
      fill: #0B6AD6; }
      .event-filters .filter-content .btnSeeMore svg {
        margin-left: -2px;
        margin-right: 2px;
        fill: #0B6AD6;
        transform: scale(0.7); }
  .event-filters a.big {
    float: right; }
    .event-filters a.big svg {
      width: 1.6rem;
      height: 1.6rem; }
  .event-filters svg {
    width: 24px;
    height: 24px;
    transform-origin: center;
    transition: transform 120ms ease; }
  .event-filters input, .event-filters label, .event-filters select {
    font-size: .85rem;
    margin: .25rem 0;
    color: #65707A;
    font-family: "Open Sans", sans-serif; }
  .event-filters input {
    padding: .5rem;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px #CED6DE solid;
    border-radius: 2px; }
  .event-filters label {
    display: inline-block; }
  .event-filters select {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px #CED6DE solid;
    border-radius: 2px;
    padding: .5rem;
    -webkit-appearance: none; }
  .event-filters .select-wrapper {
    display: block;
    width: 100%;
    position: relative; }
    .event-filters .select-wrapper svg {
      position: absolute;
      right: .5rem;
      top: .6rem; }
>>>>>>> Feature-event-filters

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  color: #101316;
  padding-top: 50px; }

.container, .grid-container {
  width: 96%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }
  .container.small, .small.grid-container {
    max-width: 860px; }

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0; }
  .grid-container .col {
    margin: 0 10px 20px 10px;
    flex-grow: 0;
    flex-shrink: 0; }
    .grid-container .col.grow {
      flex-grow: 1; }
  .grid-container .col-33 {
    flex-basis: calc(33.33% - 20px); }
  .grid-container .col-50 {
    flex-basis: calc(50% - 20px); }
  .grid-container .col-66 {
    flex-basis: calc(66.67% - 20px); }
  .grid-container .col-100 {
    flex-basis: calc(100% - 20px); }

h1, h2, h3 {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: .25em; }

h2 {
  font-size: 1.6rem; }
  h2 small {
    font-weight: 300; }

h3 {
  font-size: 1.33rem; }
  h3 small {
    font-weight: 300; }

h4, p, p.meta, p.badge {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: .25em; }

p {
  font-size: 1rem; }

p.meta {
  font-size: .85rem;
  color: #65707A; }

p.badge {
  font-size: .85rem;
  color: #65707A;
  border: 1px #CED6DE solid;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  display: inline-block; }

a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #0B6AD6; }
  a.big {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif; }
    a.big svg {
      width: 1.6rem;
      height: 1.6rem; }
  a:hover {
    color: #3991f5; }
    a:hover svg {
      fill: #3991f5; }
  a div {
    display: inline-block;
    padding: 0 0.5rem; }
  a svg {
    display: inline-block;
    fill: #0B6AD6; }

button {
  cursor: pointer;
  padding: 0.5rem 1rem 0.6rem 1rem;
  font-size: 0.85rem;
  background: none;
  border: 1px solid #CED6DE;
  border-radius: 2px; }
  button:hover {
    opacity: 0.8; }
  button.large {
    padding: 0.65rem 1.5rem 0.75rem 1.5rem;
    font-size: 1.15rem; }
  button.grey.outline {
    color: #65707A;
    border-color: #65707A; }
  button.grey.fill {
    color: #FFFFFF;
    background-color: #65707A;
    border-color: #65707A; }
  button.blue.outline {
    color: #0B6AD6;
    border-color: #0B6AD6; }
  button.blue.fill {
    color: #FFFFFF;
    background-color: #0B6AD6;
    border-color: #0B6AD6; }
  button.orange.outline {
    color: #E55C37;
    border-color: #E55C37; }
  button.orange.fill {
    color: #FFFFFF;
    background-color: #E55C37;
    border-color: #E55C37; }

.box {
  border-radius: 3px;
  padding: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); }
  .box .action-bar {
    margin: 1rem -1rem 0 -1rem;
    padding: 1rem 1rem 0 1rem;
    border-top: 1px #CED6DE solid;
    display: flex;
    justify-content: flex-end; }

.profile-picture {
  border-radius: 50%;
  background-position: center;
  background-size: cover; }
  .profile-picture.xs {
    width: 26px;
    height: 26px; }
  .profile-picture.sm {
    width: 36px;
    height: 36px; }
  .profile-picture.md {
    width: 48px;
    height: 48px; }
  .profile-picture.lg {
    width: 76px;
    height: 76px; }
  .profile-picture.xl {
    width: 185px;
    height: 185px; }

div.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 20px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  z-index: 1; }
  div.nav-bar a.logo {
    color: #101316;
    font-family: "Montserrat", sans-serif;
    font-size: 1.15rem; }
  div.nav-bar nav ul {
    display: flex;
    list-style: none; }
  div.nav-bar nav a {
    display: flex;
    align-items: center;
    color: #101316;
    font-size: 1rem;
    line-height: 50px;
    padding: 0 .75rem;
    margin: 0 0rem;
    text-decoration: none; }
    div.nav-bar nav a:hover {
      color: #0B6AD6; }
    div.nav-bar nav a.active {
      font-weight: 700;
      color: #0B6AD6;
      line-height: 48px;
      border-bottom: 2px #0B6AD6 solid; }
  div.nav-bar nav .menu-user {
    margin-left: 1rem;
    padding-left: .75rem; }
    div.nav-bar nav .menu-user > a {
      border-left: 1px #CED6DE solid; }
    div.nav-bar nav .menu-user .profile-picture {
      margin-right: .5rem; }
    div.nav-bar nav .menu-user svg {
      margin-left: .25rem;
      width: 24px;
      height: 24px;
      fill: #101316; }
    div.nav-bar nav .menu-user:hover .dropdown {
      display: block; }
    div.nav-bar nav .menu-user .dropdown {
      display: none;
      border-radius: 0 0 3px 3px;
      padding: 5px 0 10px 0;
      margin-left: 1px;
      border-top: 1px #CED6DE solid;
      background-color: #F7FAFC; }
      div.nav-bar nav .menu-user .dropdown svg {
        transform: scale(0.75);
        margin-right: 6px; }
